*{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

 body{

    background-color: rgb(250, 250, 238);
    margin: 0;
 }
 .yo{
 padding-top: 10px;
 background-color: white;


 }

}

.im{
height: 30px;
width: 30px;
cursor: pointer;
margin-right:10px ;


}


.ima{
height: 30px;
width: 30px;
cursor: pointer;


}


.hed{display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 20px;
}



.btn{

     border: none;
     border-radius: 10px;
     cursor: pointer;
     padding: 4px;
     font-weight: 600;
     margin-right:10px ;
     background-color: rgb(194, 188, 188);

     

}

.dif{

   height: 20px;
   width: 20px;


}
.aa{
display: inline-flex;


align-items: center;
margin-right: 10px;

}
.aaa{
display: inline-flex;


align-items: center;


}

.b{

   border-radius: 50%;
   border:1px solid rgb(192, 186, 186) ;
   padding: 5PX;
   cursor: pointer;
   

}

.a{

margin-left: 20px;
 margin-right: 40px;

}
#f{
    display: inline-block;
border: 1px solid rgb(206, 196, 196);
width: 18px;
text-align: center;
border-radius: 5px;

}

#inp{
       outline: none;
     border: none;
     width: 120px;
  
     
}
.srch{


    display: inline-block;
    align-items: center;

    border: 1px solid rgb(192, 186, 186);
    padding: 4px;
    border-radius: 6PX;
    margin-left: 20x;
       
       font-size: smaller;
}
#btn1{

   background: none;
   border: 1px solid rgb(192, 186, 186) ;
   padding: 8px;
   border-radius: 6px;
   font-weight: 400;
   margin-right: 10px;
   cursor: pointer;
   font-weight: 600;
   

}

a{
  text-decoration: none;
  color: black;
  margin: 20px;
  font-weight: 490;


}
